system-config.js*
*.js
*.js.map
client/app/**/*.js
client/app/*/*.js
client/app/**/*.map
client/app/*/*.map
client/node_modules
server/node_modules
jspm_packages
bower_components
aot/*
dist/*
yarn.lock