<div class="cui__selector--direct__item">
    <img class="user-avatar" src="{{person.avatar_origin}}" />
    <div class="cui__selector--direct__label">{{person.name}}</div>
    <div class="cui__selector--direct__description">
        Age: <span>{{person.birthday}}</span>
    </div>
    <div class="cui__selector--direct__description">
        Phone: <span>{{person.phone}}</span>
    </div>
    <p class="cui__selector--direct__description">
        Address: <span>{{person.address.street}}, {{person.address.city}}, {{person.address.country}}</span>
    </p>
</div>